.idea/
venv/

reactapp/src/componentResolver\.js
npm-debug.log
ComponentMadness/--upgrade/
*.pyc
reactapp/package-lock.json
pythonEnv/
node_modules/
ComponentMadness/home/static/images/Background.mp4
