{% extends "skeleton.html" %}

<!-- Style in Head -->
{% block style %}

{% endblock %}

<!-- Put in your page content -->
{% block content %}

{% include "header.html" %}

<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/models/getModels/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{appLabel}} : {{modelName}}</li>
      </ol>
    </nav>

    <h3>{{ modelName }}</h3>
    <a href="/models/modelInstance/{{appLabel}}/{{modelName}}/" class="btn btn-success">Add New</a>
    <div class="list-group">
        {% for instance in instances %}
          <a href="/models/modelInstance/{{appLabel}}/{{modelName}}/{{instance.0}}/" class="list-group-item list-group-item-action">
            {{ instance.1 }}
          </a>
        {% endfor %}
    </div>
    {% if offset > 100 %}
        <a href="/models/getModelValues/{{appLabel}}/{{modelName}}/{{backOffset}}/" class="btn btn-info">See Last 100</a>
    {% endif %}
    {%if forwardButton %}
        <a href="/models/getModelValues/{{appLabel}}/{{modelName}}/{{forwardOffset}}/" class="btn btn-info">See Next 100</a>
    {% endif %}

</div>

{% include "footer.html" %}

{% endblock %}

<!-- Style in Body -->
{% block script %}

{% endblock %}